body {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
}

.page-header,
.page-footer {
	background-color: yellow;
	width: 100%;
	text-align: center;
	position: relative;
}

.product {
	height: 230px;
	width: 400px;
	background-color: darkviolet;
	margin: 20px;
	padding: 10px;
}

.product-header {
	margin-bottom: 5px;
}

.product-img {
	display: flex;
	font-size: 16px;
}
.product img {
	height: 150px;
	width: 200px;
	margin-right: 10px;
}

.product-footer{
	display: flex;
	margin-top: 10px;
}

.product button {
	width: 80%;
	margin-right: 5px;
	border: none;
	background-color: yellow;
}

.product input {
	width: 20%;
}

.component-list {
	display: flex;
	max-width: 1000px;
	margin: 0 auto;
	flex-wrap: wrap;
}

.cart {
	position: absolute;
	right: 0;
	top: 0;
}

.cart ul {
	background-color: red;
	padding-right: 10px;
}

.cart li {
	list-style: none;
	text-align: right;
}
